<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation2.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-1"></div>
    <div class="col-md-10">

    <div class="row text-center">
        <span><수익금 신청></span>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" style="font-size: 13px;">
                <thead class="text-center">
                <tr class="row" style="background-color: #e1ebec;">
                    <th class="text-center col-md-3">총 수익금</th>
                    <th class="text-center col-md-3">총 입금액</th>
                    <th class="text-center col-md-3">처리중</th>
                    <th class="text-center col-md-3">출금 가능액</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row">
                    <td class="text-center col-md-3">{{ total_cash }} 원</td>
                    <td class="text-center col-md-3">{{ total_paid }} 원</td>
                    <td class="text-center col-md-3">{{ total_process }} 원</td>
                    <td class="text-center col-md-3">{{ total_cash-total_process-total_paid }} 원</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if get_flashed_messages() %}

            <div class="flahsed_box">
                {% for each in get_flashed_messages() %}
                    <div class="flashed_text text-center">
                        <span style="color: red">{{each}}<span>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        <hr/>

        <form action="/c_register" method="POST">
            <div class="row">
                <span class="col-md-2">출금 신청액 : </span>
                    <span class="col-md-3">
                        <input type="text" class="form-control" name = "money_out" placeholder="출금할 금액을 입력">
                    </span>
                <span class="col-md-2">주민번호 : </span>
                <span class="col-md-3">
                        <input type="text" class="form-control" name = "personal_number" placeholder="주민번호를 입력(xxxxxx-xxxxxx)">
                    </span>
                <button type="submit" class="btn btn-primary btn-md col-md-2">
                    수익금 출금신청하기
                </button>
            </div>
        </form>


        <br/>
        <div class="text-left">
            * 계좌정보는 회원정보에서 확인 및 수정이 가능합니다.<br/>
            * 예금주와 이름이 동일해야 출금이 가능합니다.<br/>
            * 어제까지의 수익금를 신청하실 수 있으며, 진행중인 수익금이 있는 경우 신청을 하실 수 없습니다.<br/>
            * 수익금 신청은 10,000원 이상부터 가능합니다.<br/>
            * 오늘 날짜로 신청된 금액은 다음날 신청 금액이 지급됩니다. (단 토,일,공휴일의 경우 다음날 처리됩니다.)<br>
            <span style="color: red">* 미성년자 파트너분들은 친권자동의서와 가족관계증명서 또는 등본 1부를 제출해주셔야 수익금을 받으실 수 있습니다.</span><br>
            <span style="color: red">제출 이메일 주소 : good-video@nate.com </span><br>
            <a href="https://www.dropbox.com/s/lmuxwu79xofxsno/%EC%B9%9C%EA%B6%8C%EC%9E%90%20%EB%8F%99%EC%9D%98%EC%84%9C.xls?dl=0">
                <span style="color: blue">친권자 동의서 다운로드 받기</span>
            </a>
        </div>

        <hr/>
        <br/>
        <div class="row text-center">
            <span><수익금 정산내역></span>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="font-size: 13px;">
                    <thead class="text-center">
                    <tr class="row" style="background-color: #e1ebec;">
                        <th class="text-center col-md-2">신청일자</th>
                        <th class="text-center col-md-2">입금액</th>
                        <th class="text-center col-md-2">은행</th>
                        <th class="text-center col-md-2">계좌번호</th>
                        <th class="text-center col-md-2">예금주</th>
                        <th class="text-center col-md-2">처리상태</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for each in paid %}
                        <tr class="row">
                            <th class="text-center col-md-2">{{ each.register_date }}</th>
                            <th class="text-center col-md-2">{{ each.money }} 원</th>
                            <th class="text-center col-md-2">{{ each.partner.bank_name }}</th>
                            <th class="text-center col-md-2">{{ each.partner.bank_number }}</th>
                            <th class="text-center col-md-2">{{ each.partner.bank_owner }}</th>
                            {% if each.state == 0  %}
                                <th class="text-center col-md-2">처리중</th>
                            {% elif each.state == 1 %}
                                <th class="text-center col-md-2">완료</th>
                            {% else %}
                                <th class="text-center col-md-2">반려</th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>

    </div>

    <div class="col-md-1"></div>



{% endblock %}

{% block js %}
{% endblock %}